language: node_js
node_js:
  - "8"

branches:
  only:
    - master

before_script:
  - npm install -g firebase-tools
  - npm install

script:
  - cd functions && npm install && cd ..
  - firebase deploy --token $FIREBASE_TOKEN